# Use the following to remove large groups of newly ignored files
#git rm -r --cached .
#git add -A
#git commit -am 'Removing ignored files'

# OS ===========================

*~


# Private Assets ===============

*.pem
config/db.js
resources/

# Node and related =============

node_modules/
public/libs/